<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IMD Game</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="/javascripts/scripts.js"></script>
    </head>
    <body>
        <div id="room-container">
            <% Object.keys(rooms).forEach(room => { %>
            <div><%=room %></div>
            <a href="<%= room %> ">Join</a>
            <% }) %>
            <form action="/room" method="POST">
                <input type="text" name="room" required />
                <button type="submit">New Room</button>
            </form>
        </div>
    </body>
</html>
